%h1 Secret
%p= "Your secret can be accessed only at the following URL until #{@secret.expires_at.strftime("%m/%d/%Y %I:%M%p %Z")}."
%p Remember to copy it, once you leave this page there will be no way for you to retrieve this URL.
%h2
  %a{ href: secret_url(@secret) }= secret_url(@secret)
